<!DOCTYPE html>
<html>
<head>
    <title>TruequesUC - Intercambia tus muebles y productos de casa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        /* Agrega un estilo personalizado para el fondo degradado con imagen */
        .hero {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)), url('/assets/salon-con-diferentes-muebles-para-guardar-00560105_aa92107d_230503144421_1999x1333.jpg'); /* Ruta de tu imagen */
            background-size: cover;
            background-position: center;
        }
        /* Ajusta el color del texto para que sea visible en el fondo degradado */
        .hero-body h1, .hero-body h2 {
            color: #333333; /* Color de texto blanco */
        }
        footer {
            padding: 20px;
            text-align: center;
            bottom: 0;
            width: 100%
        }
    </style>
</head>
<body>
    <section class="hero is-bold">
        <div class="hero-body">
            <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                <h1 class="title is-size-1">
                    TruequesUC
                </h1>
                <h2 class="subtitle">
                    Intercambia tus muebles y productos de casa
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
            <h1 class="title">Editar Producto</h1>
    </section>

    <section class="section">
        <div class="container">
        <div class="content">
                        <div class="field has-text-centered">
                        <% if @product.image %>
                            <%= image_tag @product.image_url, alt: 'Imagen de perfil' %>
                        <% end %>
            <%= form_for @product, url: product_path(@product), method: :patch, html: { class: "form" } do |f| %>
                <div class="field">
                    <%= f.label :"Foto del producto", class: "label" %>
                    <div class="control">
                        <%= f.file_field :image, class: "input" %>
                    </div>
                </div>
                <div class="field">
                    <%= f.label "Nombre producto", class: "label" %>
                    <div class="control">
                        <%= f.text_field :title, class: "input" %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label "Descripción", class: "label" %>
                    <div class="control">
                        <%= f.text_area :description, class: "textarea" %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label "Peso en kg", class: "label" %>
                    <div class="control">
                        <%= f.number_field :weight, class: "input" %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label "Clasificación", class: "label" %>
                    <div class="control">
                        <%= f.text_field :clasification, class: "input" %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label "Años de uso", class: "label" %>
                    <div class="control">
                        <%= f.text_field :use, class: "input" %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label "Estado", class: "label" %>
                    <div class="control">
                        <%= f.text_field :state, class: "input" %>
                    </div>
                </div>


                <div class="field is-grouped">
                    <div class="control">
                        <%= f.submit "Guardar Cambios", class: "button is-primary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
    <section class="section">
        <div class="container has-text-centered">
            <%= link_to "Volver a la vista del producto", product_path(@product), class: "button is-info" %>
        </div>
    </section>
    <footer>
    <p>© 2023 TruequesUC. Todos los derechos reservados.</p>
</footer>

</body>

</html>
